.rodape{
    background: var(--branco);
}

.rodape__informativo{
    padding: 1em;
}

.rodape__titulo{
    font-size: 1.125em;
    font-weight: 500;
    line-height: 21px;
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.rodape__texto{
    font-weight: 300;
    line-height: 24px;
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.rodape__email{
    background: transparent;
    color: var(--azul-degrade);
    padding: 1em;
    border: 2px solid var(--azul-escuro);
    border-radius: 20px;
    width: 100%;
    margin: 1em 0;
}

.rodape__email::placeholder{
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1em;
    padding-left: 3em;
    color: var(--azul-escuro);
    background: url("../img/Email.svg") no-repeat;
    background-position: 1em;
}

.linha{
    background: #858585;
    padding: 1px;
}

.rodape__alura{
    padding: 1em;
}

.rodape_alura-educacao{
    display: none;
}

.rodape_alura-online{
    display: none;
}

.rodape_alura-comunidade{
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape__informativo{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2em;
    }

    .rodape__informativo-textos{
        margin-right: 1em;
        width: 30%;
    }

    .rodape__titulo{
        font-size: 1.5rem;
        line-height: 2.25rem;
    }

    .rodape__texto{
        font-size: 1rem;
    }

    .rodape__email{
        width: 30%;
    }

    .rodape__alura{
        display: flex;
        justify-content: space-around;
    }

    .texto{
        font-size: 1.5rem;
    }

    .rodape_alura-educacao,
    .rodape_alura-online,
    .rodape_alura-comunidade{
        display: block;
        font-size: 0.875rem;
    }

    .educacao-titulo,
    .online-titulo,
    .comunidade-titulo{
        text-transform: uppercase;
        margin-bottom: 1.5em;
    }

    .imagem-texto{
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 1em;
    }
}