.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
}

.cabecalho__menu-hambuguer{
    background-image: url("../img/Menu.svg");
    width: 36px;
    height: 24px;
    display: inline-block;
}

