@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;700&display=swap');
@import url("./header.css");

:root{
    --cor-de-fundo: #EBECEE;
    --branco: #fff;
}

body{
    background: var(--cor-de-fundo);
}

