.cursos{
    background: var(--azul-escuro);
    padding: 1em 0.8em;
    text-align: center;
    color: var(--branco);
}

.cursos__nomes{
    display: flex;
    justify-content: center;
    margin: 1em 0;
    gap: 1em;
    font-size: 0.875em;
    font-weight: 700;
}

.cursos__titulo{
    background: var(--laranja);
    padding: 1em;
    font-weight: 400;
}

