.cursos{
    background: var(--azul-escuro);
    padding: 1em 0.8em;
    text-align: center;
    color: var(--branco);
}

.cursos__nomes{
    display: flex;
    justify-content: center;
    margin: 1em 0;
    gap: 1em;
}

.cursos__titulo{
    background: var(--laranja);
    color: var(--branco);
    font-size: 0.875em;
    font-weight: 700;
    padding: 1em;
    text-decoration: none;
}

.cursos__titulo-T{
    display: none;
}

@media screen and (min-width: 1024px) {
    .cursos{
        padding: 2em 0.8em 1em 0.8em;
    }

    .cursos__tituloPrincipal{
        font-size: 1.5rem;
        margin-bottom: 2em;
    }

    .cursos__titulo{
        font-size: 1.5rem;
    }

    .cursos__titulo-T{
        display: block;
    }

    .cursos__titulo-C{
        display: none;
    }
}

@media screen and (min-width: 1728px) {
    .cursos__tituloPrincipal{
        font-size: 2rem;
    }
}